<template>
  <div class="home">
    <img src="@/assets/images/meli-melo.png" alt="meli-melo" class="mx-auto" />
    <section>
      <div class="text-center container px-5 pt-5 pb-0 mx-auto">
        <h1
          class="sm:text-3xl text-2xl font-ac font-medium title-font text-gray-900 mb-4"
        >
          Animal Crossing: Market
        </h1>
        <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto">
          Blue bottle crucifix vinyl post-ironic four dollar toast vegan
          taxidermy. Gastropub indxgo juice poutine, ramps microdosing banh mi
          pug.
        </p>
        <div class="flex mt-6 justify-center">
          <div class="w-16 h-1 rounded-full bg-indigo-500 inline-flex"></div>
        </div>
      </div>
    </section>
    <features></features>
  </div>
</template>

<script>
// @ is an alias to /src
import Features from '@/components/features.vue'

export default {
  name: 'Home',
  components: { Features },
  mounted() {
    this.getData()
  },
  data() {
    return {
      apiData: [],
    }
  },
  methods: {
    async getData() {
      const apiUrl = process.env.VUE_APP_API

      try {
        const response = await this.axios.get(apiUrl + 'users')
        this.apiData = response.data
        console.log(this.apiData)
      } catch (error) {
        // this.apiData = false
        console.log(error)
      }
    },
    // return this.availabilityMessage
  },
}
</script>
