<template>
  <header
    class="text-gray-700 body-font sticky top-0 z-10 bg-white transition-all duration-300"
    :class="{ shadow: activateShadow }"
  >
    <div
      class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center"
    >
      <router-link
        :to="{ name: 'Home' }"
        class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0"
      >
        <icon-base name="nook-shopping" size="40"></icon-base>
        <span class="ml-3 text-xl font-ac">
          Animal Crossing: Market
        </span>
      </router-link>
      <nav
        class="md:ml-auto flex flex-wrap items-center text-base justify-center"
      >
        <router-link
          class="mr-5 hover:text-gray-900"
          v-for="(link, linkID) in navLinks"
          :key="linkID"
          :to="{ name: link.route }"
        >
          {{ link.label }}
        </router-link>
      </nav>
      <button
        class="inline-flex items-center bg-gray-200 border-0 py-1 px-3 focus:outline-none hover:bg-gray-300 rounded text-base mt-4 md:mt-0"
      >
        Button
        <svg
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          class="w-4 h-4 ml-1"
          viewBox="0 0 24 24"
        >
          <path d="M5 12h14M12 5l7 7-7 7"></path>
        </svg>
      </button>
    </div>
  </header>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'Navbar',
  data() {
    return {
      navLinks: [
        {
          label: 'Home',
          route: 'Home',
        },
        {
          label: 'About',
          route: 'About',
        },
      ],
      activateShadow: false,
    }
  },
  created() {
    window.addEventListener('scroll', this.handleScroll)
  },
  destroyed() {
    window.removeEventListener('scroll', this.handleScroll)
  },
  methods: {
    handleScroll() {
      if (window.scrollY > 100) {
        this.activateShadow = true
      } else {
        this.activateShadow = false
      }
    },
  },
})
</script>

<style scoped></style>
