<template>
  <div id="app">
    <div class="content">
      <navbar></navbar>
      <router-view />
    </div>
    <footer-ac class="footer"></footer-ac>
  </div>
</template>

<script lang="ts">
import Navbar from '@/components/navbar.vue'
import footerAc from '@/components/footer-ac.vue'
import Vue from 'vue'

export default Vue.extend({
  components: {
    Navbar,
    footerAc,
  },
})
</script>

<style>
.content {
  min-height: calc(100vh - 6.5rem);
}
.footer {
  height: 6.5rem;
}
</style>
