@tailwind base;

@tailwind components;

@tailwind utilities;

@tailwind screens;

@font-face {
  font-family: FinkHeavy;
  font-weight: 400;
  src: url(../fonts/FinkHeavy.woff)
  format("woff");
}

.font-ac {
  font-family: 'FinkHeavy';
}
